html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background: #1C2826;
  margin: 0;
  font-family: 'Lato', "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow: overlay;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.603);
}